<h1>{{title}}</h1>
<h3>Policy</h3>
<hr />
<form [formGroup]="policyForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <div class="form-group row">
    <label class=" control-label col-md-12">Name</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="name">
    </div>
    <span class="text-danger" *ngIf="name.invalid && formDir.submitted">
      Name is required.
    </span>
  </div>

  <div class="form-group row">
    <label class=" control-label col-md-12">Description</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="description">
    </div>
    <span class="text-danger" *ngIf="description.invalid && formDir.submitted">
      Description is required.
    </span>
  </div>

  <div class="form-group row">
    <label class=" control-label col-md-12">Price</label>
    <div class="col-md-4">
      <input class="form-control" type="number" formControlName="price">
    </div>
    <span class="text-danger" *ngIf="price.invalid && formDir.submitted">
      Price is required.
    </span>
  </div>


  <div class="form-group row">
    <label class=" control-label col-md-12">Start Vadility Time</label>
    <div class="col-md-4">
      <input class="form-control" type="date" formControlName="startVadilityTime">
    </div>
    <span class="text-danger" *ngIf="startVadilityTime.invalid && formDir.submitted">
      Start Vadility Time is required.
    </span>
  </div>
  

  <div class="form-group row">
    <label class=" control-label col-md-12">Coverage time</label>
    <div class="col-md-4">
      <input class="form-control" type="number" formControlName="coveragetime">
    </div>
    <span class="text-danger" *ngIf="coveragetime.invalid && formDir.submitted">
      Coveragetime is required.
    </span>
  </div>
  

  <div class="form-group row">
    <label class="control-label col-md-12" for="TypeRisk">TypeRisk</label>
    <div class="col-md-4">
      <select class="form-control" data-val="true" formControlName="typeRisk">
        <option value="">--Select Type Risk--</option>
        <option *ngFor="let typeRisk of typeRiskList"
                value={{typeRisk.name}}>
          {{typeRisk.name}}
        </option>
      </select>
    </div>
    <span class="text-danger" *ngIf="typeRisk?.invalid && formDir.submitted">
      Type Risk is required
    </span>
  </div>



  <div class="form-group row">
    <label class="control-label col-md-12" for="TypeCovering">TypeCovering</label>
    <div class="col-md-4">
      <select class="form-control" data-val="true" formControlName="typeCovering">
        <option value="">--Select Type Covering--</option>
        <option *ngFor="let typeCovering of typeCoveringList"
                value={{typeCovering.name}}>
          {{typeCovering.name}}
        </option>
      </select>
    </div>
    <span class="text-danger" *ngIf="typeCovering?.invalid && formDir.submitted">
      Type Covering is required
    </span>
  </div>
  <hr />
  <div class="form-group">
    <button type="submit" class="btn btn-default">Save</button>
    <button class="btn" (click)="cancel()">Cancel</button>
  </div>
</form>
